<!-- start checkout-->
<div class="checkout py-5">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 col-12 px-4">
                <div class="text-center">
                    <span class="text-perf fs-16 fw-mont">Express checkout</span>
                    <div class="d-flex gap-3 flex-wrap text-center justify-content-center py-3">
                        <img src="img/logo/Shop Pay.svg" alt="shop" class="img-fluid">
                        <img src="img/logo/PayPal.png" alt="PayPal" class="img-fluid">
                        <img src="img/logo/Google Pay.png" alt="google" class="img-fluid">
                    </div>
                </div>
                <div class="divider my-3 fw-mont text-perf">or</div>

                <div class="form-group mb-3 mt-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <label for="exampleInputEmail1" class="py-3 fs-18 fw-regular text-look">Contact</label>
                        <a href="#" class="fs-14 fw-mont text-look">Login</a>
                    </div>
                    <div class="d-flex align-items-center bg-sup p-2 rounded-4 border-bottom border-shad">
                        <input type="email" name="email"
                            class="form-control border-0 shadow-none bg-transparent fs-14 fw-mont text-look"
                            id="exampleInputEmail1" placeholder="Email">

                    </div>
                    <div class="form-check py-3">
                        <input class="form-check-input" type="radio" name="radio1">
                        <label class="form-check-label fs-12 fw-mont text-perf" for="newsOffers">
                            Email me with news and offers
                        </label>
                    </div>
                    <div class="">
                        <h5 class="fw-bold mb-3 fs-18 fw-regular text-look">Delivery</h5>
                        <div class="d-flex align-items-center">
                            <select
                                class="form-control focus-color bg-sup py-3 rounded-4 fs-12 text-look fw-mont border-bottom border-shad border-top-0 border-start-0 border-end-0">
                                <option>United States</option>
                                <option>Alaska</option>
                                <option>California</option>
                            </select>
                            <img src="img/icons/arrow-up.svg" alt="arrow" class="custom-arrow">
                        </div>
                        <div class="row g-3 mb-3 py-3">
                            <div class="col-md-6">
                                <input type="text"
                                    class="first-name form-control bg-sup fs-14 fw-mont text-look py-3 p-2 rounded-4 border-bottom border-shad border-top-0 border-start-0 border-end-0"
                                    placeholder="First name">
                            </div>
                            <div class="col-md-6">
                                <input type="text"
                                    class="last-name form-control bg-sup fs-14 fw-mont text-look py-3 p-2 rounded-4 border-bottom border-shad border-top-0 border-start-0 border-end-0"
                                    placeholder="Last name">
                            </div>
                        </div>
                        <div class="py-3">
                            <div class="d-flex align-items-center bg-sup p-2 rounded-4 border-bottom border-shad">
                                <input type="text" name="Address"
                                    class="form-control border-0 shadow-none bg-transparent fs-14 fw-mont text-look"
                                    id="exampleInputEmail1" placeholder="Address">

                            </div>
                        </div>

                        <div class="py-3">
                            <div class="d-flex align-items-center bg-sup  p-2 rounded-4 border-bottom border-shad">
                                <input type="text" name="Address"
                                    class="form-control border-0 shadow-none bg-transparent fs-14 fw-mont text-look"
                                    id="exampleInputEmail1" placeholder="Apartment, suite, etc. (optional)">

                            </div>
                        </div>

                        <div class="row g-3 mb-3 py-3">
                            <div class="col-md-4">
                                <input type="text"
                                    class="form-control city bg-sup fs-14 fw-mont text-look py-3 p-2 rounded-4 border-bottom border-shad border-top-0 border-start-0 border-end-0"
                                    placeholder="city">
                            </div>
                            <div class="col-md-4">
                                <input type="text"
                                    class="form-control city bg-sup fs-14 fw-mont text-look py-3 p-2 rounded-4 border-bottom border-shad border-top-0 border-start-0 border-end-0"
                                    placeholder="state">
                            </div>
                            <div class="col-md-4">
                                <input type="text"
                                    class="form-control city bg-sup fs-14 fw-mont text-look py-3 p-2 rounded-4 border-bottom border-shad border-top-0 border-start-0 border-end-0"
                                    placeholder="zap code">
                            </div>
                        </div>


                    </div>
                </div>
                <h3 class="py-3 fs-18 fw-regular text-look">Shipping method</h3>
                <div class="py-3 bg-cons rounded-3 text-start ps-3 border color-free">
                    <h3 class="fs-12 fw-mont text-perf">Free Standard shipping</h3>
                    <p class="fs-12 fw-mont text-perf">
                        Please allow 2-3 business days for your order to be processed and 3-4 business days for<br>
                        delivery, subject to carrier delays.
                    </p>
                </div>

                <div class="d-flex flex-column gap-2">
                    <div class="p-3">
                        <h4 class="fs-18 fw-regular text-look">Payment</h4>
                        <p class="fs-12 fw-regular text-perf">All transactions are secure and encrypted.</p>
                    </div>

                </div>
                <div class="payment border border-shad rounded-4">
                    <div class="d-flex justify-content-between align-items-center px-3">
                        <div class="form-check py-3">
                            <input class="form-check-input" type="radio" name="radio1">
                            <label class="form-check-label fs-12 fw-mont text-look" for="newsOffers">
                                Credit card
                            </label>
                        </div>
                        <div class="d-flex gap-2">
                            <img src="img/logo/VISA.svg" alt="visa">
                            <img src="img/logo/MASTERCARD.svg" alt="master">
                            <img src="img/logo/AMEX.svg" alt="amex">
                            <img src="img/logo/DISCOVER.svg" alt="discover">
                            <img src="img/logo/Button.svg" alt="button">
                        </div>
                    </div>
                    <div class="credit bg-shad p-3">
                        <div class="d-flex align-items-center bg-white p-2 rounded-4 shadow-sm">
                            <input type="email" name="email"
                                class="form-control border-0 shadow-none bg-transparent fs-14 fw-mont"
                                id="exampleInputEmail1" placeholder="Enter email">

                        </div>
                        <div class="row g-3 py-3">
                            <div class="col-md-6">
                                <div class="bg-white rounded-4">
                                    <input type="text" class="form-control fs-14 fw-mont py-3 p-2 border-0 rounded-4"
                                        placeholder="Expiration date (MM / YY)">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="bg-white rounded-4">
                                    <input type="text" class="form-control fs-14 fw-mont py-3 p-2 border-0 rounded-4"
                                        placeholder="Security Code">
                                </div>
                            </div>
                        </div>
                        <div class="py-2">
                            <div class="d-flex align-items-center bg-white p-2 rounded-4 shadow-sm">
                                <input type="text" name="Address"
                                    class="form-control border-0 shadow-none bg-transparent fs-14 fw-mont"
                                    id="exampleInputEmail1" placeholder="Name on card">

                            </div>
                        </div>
                        <div class="form-check py-3">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label fs-12 fw-mont" for="exampleCheck1">Use shipping address
                                as billing address</label>
                        </div>

                    </div>
                    <div class="d-flex justify-content-between py-3 px-3 align-items-center py-2 border-bottom">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="radio1">
                            <label class="form-check-label fs-12 fw-mont">PayPal</label>
                        </div>
                        <img src="img/logo/PayPal-pal.svg" alt="paypal">
                    </div>
                    <div class="d-flex justify-content-between py-3 px-3 align-items-center py-2 border-bottom">
                        <div class="form-check">


                            <div class="d-flex gap-2 justify-content-center align-items-center">
                                <input class="form-check-input" type="radio" name="radio1">

                                <img src="img/logo/shop-pay-logo.svg" alt="shop">
                                <p class="fs-12 fw-mont">| Pay in full or in installments</p>
                            </div>

                        </div>
                    </div>
                    <div class="d-flex justify-content-between py-3 px-3 align-items-center py-2 border-bottom">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="radio1">
                            <label class="form-check-label fs-12 fw-mont">Afterpay</label>
                        </div>
                        <img src="img/logo/afterpay.png" alt="paypal">
                    </div>
                </div>

                <!------>


                <div class="d-flex flex-column gap-2 py-3">
                    <div class="p-3">
                        <h4 class="fs-18 fw-regular text-look">Remember me</h4>
                    </div>

                </div>
                <div class="payment border border-shad rounded-4">
                    <div class="d-flex justify-content-between align-items-center px-3">
                        <div class="form-check py-3">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label fs-12 fw-mont text-look" for="newsOffers">
                                Save my information for a faster checkout with a Shop account
                            </label>
                        </div>
                    </div>
                    <div class="credit bg-shad p-3 rounded-bottom-4">
                        <div class="d-flex align-items-center bg-white p-2 rounded-4 shadow-sm">
                            <input type="email" name="email"
                                class="form-control border-0 shadow-none bg-transparent fs-14 fw-mont"
                                id="exampleInputEmail1" placeholder="">
                            <div class="d-flex justify-content-between">
                                <img src="img/icons/mop.svg" alt="">
                                <span class="input-group-text bg-transparent border-0 ">
                                    <img src="img/logo/estifham.svg" alt="؟">
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="py-4">
                    <a class="d-block bg-black py-3 px-4 rounded-2 text-white w-100 text-center"  (click)="pay()">
                        Pay now
                    </a>
                </div>

                <p class="fs-12 text-perf fw-mont border-bottom pb-5 color-divi">Your info will be saved to a Shop
                    account. By continuing, you agree to Shop’s </p>
                <!-- <div class="d-flex gap-3">
                    <a href="#" class="fs-12 fw-regular text-look text-decoration-underline">Refund policy</a>

                    <a href="#" class="fs-12 fw-regular text-look text-decoration-underline">Shipping policy</a>

                    <a href="#" class="fs-12 fw-regular text-look text-decoration-underline">Privacy policy</a>

                    <a href="#" class="fs-12 fw-regular text-look text-decoration-underline">Terms of service</a>

                    <a href="#" class="fs-12 fw-regular text-look text-decoration-underline">Cancellation policy</a>
                </div> -->
            </div>
            <div class="col-md-6 col-12">
                <div class="birth bg-feel d-flex flex flex-column px-4 h-100">
                    <h3 class="text-start py-3 pt-5 fs-18 fw-regular text-perf">When is your birthday?</h3>
                    <div class="row g-3 mb-3">
                        <div class="col-md-4">
                            <input type="text"
                                class="form-control city-dd bg-white fs-14 fw-mont py-3 p-2 rounded-3 border border-birth shadow-none"
                                placeholder="DDD">
                        </div>
                        <div class="col-md-4">
                            <input type="text"
                                class="form-control city-dd bg-white fs-14 fw-mont py-3 p-2 rounded-3 border border-birth shadow-none"
                                placeholder="MM">
                        </div>
                        <div class="col-md-4">
                            <input type="text"
                                class="form-control city-dd bg-white fs-14 fw-mont py-3 p-2 rounded-3 border border-birth shadow-none"
                                placeholder="YYY">
                        </div>
                    </div>
                    <!-- <div class="py-3 mt-3">
                            <div class="d-flex align-items-center justify-content-between py-2 border-bottom">
                                <div class="d-flex gap-3 align-items-center">
                                    <div class="position-relative">
                                        <img src="img/landing/parry-sh.png" alt="parry"
                                            class=" bg-white rounded-3 px-2 py-3">
                                          <img src="img/landing/one.svg" alt="" class="position-absolute" style="top: -10px; right: -5px;">
                                    </div>

                                    <p class="fs-16 fw-regular text-bery">Berry melting soap </p>
                                </div>
                                <div class="price py-2">
                                    <span class="text-perf fs-16 fw-regular">125</span>
                                    <img src="img/icons/riyal.png" alt="riyal" class="img-fluid" style="width: 25px;">
                                </div>
                            </div>
                        </div>

                       <div class="py-3 mt-3">
                            <div class="d-flex align-items-center justify-content-between py-2 border-bottom">
                                <div class="d-flex gap-3 align-items-center">
                                    <div class="position-relative">
                                        <img src="img/landing/parry-sh.png" alt="parry"
                                            class=" bg-white rounded-3 px-2 py-3">
                                          <img src="img/landing/one.svg" alt="" class="position-absolute" style="top: -10px; right: -5px;">
                                    </div>

                                    <p class="fs-16 fw-regular text-bery">Berry melting soap </p>
                                </div>
                                <div class="price py-2">
                                    <span class="text-perf fs-16 fw-regular">125</span>
                                    <img src="img/icons/riyal.png" alt="riyal" class="img-fluid" style="width: 25px;">
                                </div>
                            </div>
                        </div>

                       <div class="py-3 mt-3">
                            <div class="d-flex align-items-center justify-content-between py-2 border-bottom">
                                <div class="d-flex gap-3 align-items-center">
                                    <div class="position-relative">
                                        <img src="img/landing/parry-sh.png" alt="parry"
                                            class=" bg-white rounded-3 px-2 py-3">
                                          <img src="img/landing/one.svg" alt="" class="position-absolute" style="top: -10px; right: -5px;">
                                    </div>

                                    <p class="fs-16 fw-regular text-bery">Berry melting soap </p>
                                </div>
                                <div class="price py-2">
                                    <span class="text-perf fs-16 fw-regular">125</span>
                                    <img src="img/icons/riyal.png" alt="riyal" class="img-fluid" style="width: 25px;">
                                </div>
                            </div>
                        </div> -->



                    <div class="py-3 mt-3" *ngFor="let item of cartItems">
                        <div class="d-flex align-items-center justify-content-between py-2 border-bottom">

                            <div class="d-flex gap-3 align-items-center">
                                <div class="position-relative">
                                    <img [src]="item.image" class="bg-white rounded-3 px-2 py-3"
                                        style="width:80px;height:80px;object-fit:contain">
                                </div>

                                <p class="fs-16 fw-regular text-bery">
                                    {{ item.title }}
                                </p>
                            </div>

                            <div class="price py-2">
                                <span class="text-perf fs-16 fw-regular">
                                    {{ item.price }}
                                </span>
                                <img src="img/icons/riyal.png" style="width:25px">
                            </div>

                        </div>
                    </div>
                    <div class="d-flex gap-3 py-3 pb-5">
                        <div class="d-flex align-items-center bg-white p-2 rounded-4 shadow-sm flex-grow-1">
                            <input type="email" name="email"
                                class="form-control border-0 shadow-none bg-transparent fs-14 fw-mont"
                                id="exampleInputEmail1" placeholder="Enter email">
                        </div>
                        <a href="cart.html"
                            class="d-flex justify-content-center align-items-center px-4 py-2 bg-black rounded-4 text-white">Apply</a>
                    </div>
                    <div class="d-flex justify-content-between align-items-center py-3 mt-3 py-2 border-bottom">
                        <div class="d-flex gap-2 flex-column">
                            <p class="fs-16 fw-mont text-look">Shipping</p>
                            <h3 class="fs-20 fw-mont text-look">Total</h3>
                        </div>
                        <div class="d-flex gap-2 flex-column align-items-end">
                            <p class="fs-14 fw-mont text-look">Enter shipping address</p>
                           <span class="text-sr fs-22 fw-regular">
  {{ totalPrice }}
  <img src="img/icons/riyal.png" alt="riyal"
       class="img-fluid" style="width: 25px;">
</span>
                        </div>
                    </div>
                    <div class="p-3">
                        <h4 class="fs-18 fw-regular text-look">Recommendation</h4>
                    </div>
                    <!-- <div class="py-3">
                            <div class="payment border border-shad rounded-4 py-3">
                        <div class="d-flex justify-content-between align-items-center px-3">
                            <div class="d-flex gap-2 align-items-center">
                            <img src="img/landing/with-mask.png" alt="mask" class="bg-white py-3 px-2 rounded-3">
                            <div class="rev-text d-flex flex-column gap-2">
                                <h3 class="fs-14 fw-regular text-perf">Clea white mask</h3>
                            <p class="fs-12 fw-regular text-ropo">All day whitening body<br> mask cream</p>
                            <a href="#" class="text-look fs-14 fw-mont">Reviews</a>
                            </div>
                        </div>
                        <div class="d-flex gap-2 flex-column align-items-end">
                            <a href="cart.html" class="text-white bg-black px-3 py-2 rounded-2">add</a>
                            <span class="text-sr fs-18 fw-regular">125 <img src="img/icons/riyal.png" alt="riyal" class="img-fluid" style="width: 25px;"></span>
                        </div>
                        </div>
                    </div>
                         
                
                
                </div> -->

                <div class="swiper Recommendation">
    <swiper-container
        slides-per-view="1"
        space-between="20"
        loop="true"
        pagination="false"
        autoplay-delay="4000">

        @for (item of products.slice(0,3); track item.id) {

        <swiper-slide>

            <div class="py-3">
                <div class="payment border border-shad rounded-4 py-3">

                    <div class="d-flex justify-content-between align-items-center px-3">

                        <div class="d-flex gap-2 align-items-center">

                            <img [src]="item.image"
                                class="bg-white py-3 px-2 rounded-3"
                                style="width:80px;height:80px;object-fit:contain">

                            <div class="rev-text d-flex flex-column gap-2">

                                <h3 class="fs-14 fw-regular text-perf accordion text-wrap">
                                    {{ item.title }}
                                </h3>

                                <p class="fs-12 fw-regular text-ropo description-clamp">
                                    {{ item.description }}
                                </p>

                                <!-- <a href="#" class="text-look fs-14 fw-mont">
                                    Reviews
                                </a> -->

                            </div>

                        </div>

                        <div class="d-flex gap-2 flex-column align-items-end">

                            <!-- <a
                                class="text-white bg-black px-3 py-2 rounded-2"
                                style="cursor:pointer"
                                (click)="addToCart(item)">
                                Add
                            </a> -->

                            <span class="text-sr fs-18 fw-regular">
                                {{ item.price }}
                                <img src="img/icons/riyal.png"
                                    style="width:25px">
                            </span>

                        </div>

                    </div>

                </div>
            </div>

        </swiper-slide>

        }

    </swiper-container>

    <div class="swiper-pagination"></div>
</div>






                 




                    <div class="d-flex align-items-end justify-content-center text-end h-100">
                        <img src="img/landing/big-dew.png" alt="" class="px-3 img-fluid pb-4">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- end checkout-->